/* General Navbar Styles */
.navbar {
    background-color: var(--nav-bar-bg-color);
    color: var(--body-text-color);
    padding: 5px 20px 5px 20px;
    position: relative;
    z-index: 10; /* Ensure it appears above content */
    text-decoration: none;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
  }
  
  .navbar-logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none; /* Removes underline */
    color: var(--body-text-color);        /* Inherits the color */
    overflow-x: hidden;  /* Prevents horizontal overflow */
    flex: 1 1 auto;  /* Allow items to grow or shrink based on available space */
  min-width: 0; /* Prevents overflow of text or elements */
  white-space: nowrap; /* Prevents text from breaking onto new lines */
  }
  
  .hamburger {
    font-size: 30px;
    background: none;
    border: none;
    color: var(--body-text-color);
    cursor: pointer;
    display: none; /* Hidden on desktop */
  }
  
  /* Navbar Menu */
  .navbar-menu {
    display: flex; /* Visible on desktop */
    flex-direction: row; /* Horizontal layout for desktop */
    justify-content: flex-end;
    width: 100%;
    margin: 0;
  }
  
  .navbar-menu.active {
    display: flex;
    flex-direction: column; /* Stacked layout for mobile */
    text-decoration: none;
  }
  
  /* Navbar List */
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0rem 0rem;
    justify-content: flex-end;
  }
  
  .navbar-list .navbar-item {
    margin-left: 0.5rem; /* Space between items on desktop */
    
  }

  .navbar-link-top {
    text-decoration: none;
    color: var(--body-text-color);
    transition: background-color 0.1s ease;
    cursor: pointer;
    margin: 0rem 0.25rem 0rem 0.25rem;
    display: flex;
    flex-direction: row;
    
  }
  
  .navbar-link-top:hover {
    border: 2px solid transparent;  /* Set all borders to transparent */
    border-bottom: 2px solid #001891; /* Apply a solid bottom border */
    
  }
  
  .navbar-link-home {
    text-decoration: none;
    color: var(--body-text-color);
  }

  
  
  /* Dropdown Menu */
  
  
  /* Mobile Specific Styles */
  @media (max-width: 768px) {
    .hamburger {
      display: block; /* Show hamburger icon on mobile */
    }
  
    .navbar-menu {
      display: none; /* Hidden by default */
      flex-direction: column;
      width: 100%;
      background-color: #84c4f4;
      position: absolute;
      top: 100%; /* Below the navbar */
      left: 0;
      z-index: 10;
    }
  
    .navbar-menu.active {
      display: flex; /* Show menu when active */
    }
  
    .navbar-list {
      flex-direction: column;      
    }
    
  
    .navbar-list .navbar-item {
      margin: 0;
    }
  
    .navbar-list .navbar-link {
      padding: 14px;
      text-align: left;
      background-color: #84c4f4;
    }
  
    .navbar-list .navbar-link:hover {
      background-color: #84c4f4;
      cursor: grab;
    }
    
    .navbar-link-top {
      margin: 0.5rem 0rem;
      display: flex;
    }
  }
  